<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">로그인</button>
    </form>

    <form action="{% url 'password_search' %}" method="get" style="margin-top: 10px;">
        <button type="submit">비밀번호 찾기</button>
    </form>

    <form action="{% url 'password_email' %}" method="get" style="margin-top: 10px;">
        <button type="submit">비밀번호 이메일로 찾기 및 변경</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}");</script>
        {% endfor %}
    {% endif %}
</body>
</html>


