<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
    <h2>비밀번호 찾기</h2>

    <form method="post" action="{% url 'password_search' %}">
        {% csrf_token %}
        
        <label for="id">가입한 아이디:</label><br>

        <input type="text" name="id" id="id" required>

        <button type="submit">비밀번호 찾기</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <script>alert("{{ message }}");</script>
        {% endfor %}
    {% endif %}


    <!-- 비밀번호를 찾았을시엔 찾은 비밀번호를 띄움 -->
    {% if found_password %}
        <hr>
        <p><strong>비밀번호:</strong> {{ found_password }}</p>
    {% endif %}
</body>
</html>